@model IEnumerable<SaintThomas.Kiosk.Models.Image>

@{
    Layout = "~/Views/Shared/_Kiosk.cshtml";
    ViewBag.Title = "Home Page";
}

    <div id="container">
        @foreach (var item in Model)
        {
            <div style="display: inline;">
                <a class="fancybox" href="@item.Video"><img src="@Url.Content(string.Format("~/Image/Download/{0}", item.PrimaryKey))" /></a>
            </div>
        }
    </div>
